// Make sure the charset is set appropriately
@charset "UTF-8";

// This includes all of the foundation global elements that are needed to work with any of the other files.
@import "_variables";


// Reset stylesheet
@import "../bower_components/foundation/scss/normalize";


// Foundation Components
@import
  "../bower_components/foundation/scss/foundation/components/global",
  "../bower_components/foundation/scss/foundation/components/grid",
  "../bower_components/foundation/scss/foundation/components/visibility",
  "../bower_components/foundation/scss/foundation/components/block-grid",
  "../bower_components/foundation/scss/foundation/components/type",
  "../bower_components/foundation/scss/foundation/components/buttons",
  "../bower_components/foundation/scss/foundation/components/forms",
  "../bower_components/foundation/scss/foundation/components/custom-forms",
  "../bower_components/foundation/scss/foundation/components/button-groups",
  "../bower_components/foundation/scss/foundation/components/dropdown-buttons",
  "../bower_components/foundation/scss/foundation/components/split-buttons",
  "../bower_components/foundation/scss/foundation/components/section",
  "../bower_components/foundation/scss/foundation/components/top-bar",
  "../bower_components/foundation/scss/foundation/components/orbit",
  "../bower_components/foundation/scss/foundation/components/reveal",
  "../bower_components/foundation/scss/foundation/components/alert-boxes",
  "../bower_components/foundation/scss/foundation/components/breadcrumbs",
  "../bower_components/foundation/scss/foundation/components/keystrokes",
  "../bower_components/foundation/scss/foundation/components/labels",
  "../bower_components/foundation/scss/foundation/components/inline-lists",
  "../bower_components/foundation/scss/foundation/components/pagination",
  "../bower_components/foundation/scss/foundation/components/panels",
  "../bower_components/foundation/scss/foundation/components/pricing-tables",
  "../bower_components/foundation/scss/foundation/components/progress-bars",
  "../bower_components/foundation/scss/foundation/components/side-nav",
  "../bower_components/foundation/scss/foundation/components/sub-nav",
  "../bower_components/foundation/scss/foundation/components/switch",
  "../bower_components/foundation/scss/foundation/components/tables",
  "../bower_components/foundation/scss/foundation/components/thumbs",
  "../bower_components/foundation/scss/foundation/components/tooltips",
  "../bower_components/foundation/scss/foundation/components/dropdown";



